/*style do form de cadastro*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form#formCad {
    margin: auto;
}

input {
    display: flex;
    margin: 2% auto 2% auto;
    width: 30%;
}