/* import da fonte Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @import {
    url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")
  }
}

body {
  background-color: black;
  background-size: auto 100vh;
  font-family: "Source Code Pro", monospace;
  height: 100vh;
  font-size: 12px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  border-bottom: 1px solid #257be5;
}

.menu {
  background-color: black;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu ul li {
  display: inline-block;
  padding: 10px 20px 10px 20px;
}

.menu ul li a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-decoration: none;
}

.menu ul li a:hover {
  cursor: pointer;
  background-color: #257be5;
  border: none;
  color: white;
}

/*menu hamburguer
nav {
  margin-right: 100px;
  align-items: right;
  justify-content: right;
}

#hamburguer-menu{
  position: absolute;
  opacity: 0;
}

label{
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
}

label span{
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background: #fff;
  transition: 0.25s ease-in-out;
  color: #fff;
  font-size: 16px;
}

label span:nth-child(1){
  top: 0;
}

label span:nth-child(2){
  top: 8px;
}

label span:nth-child(3){
  top: 16px;
}

#hamburguer-menu:checked + label span:nth-child(1){
  transform: rotate(-45deg);
  top: 8px;
}

#hamburguer-menu:checked + label span:nth-child(2){
  opacity: 0;
}

#hamburguer-menu:checked + label span:nth-child(3){
  transform: rotate(45deg);
  top:8px;
}
*/
.novoVideo {
  background-color: #000;
  border: 1px solid white;
  color: white;
  padding: 10px 20px 10px 20px;
  margin-right: 50px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.novoVideo:hover {
  cursor: pointer;
  background-color: #257be5;
  border: none;
  color: white;
}

.logoSiflix {
  margin: 5px 0px 5px 50px;
}

#conteudo {
  margin-bottom: 48px;
}

.secao1-sistInternet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.secao1-banner {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sistInternet {
  padding: 20px;
  margin-left: 50px;
  background-color: #6bd1ff;
  color: #333333;
  height: 92px;
  width: 296px;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.secao1-titulo {
  margin: -20px 0px 0px 50px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}

.secao1-texto {
  margin: 0px 0px 0px 50px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.bannerVideo {
  width: 480px;
  height: 360px;
  margin-left: 50px;
}

.signIn label {
  display: flex;
  align-items: center;
}

.signIn a {
  text-decoration: none;
}

.signIn h1 {
  color: #f5f5f5;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Roboto";
  margin-bottom: 2%;
  margin-top: 5%;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-family: 'Roboto';
  font-style: normal;
}

.inputLogin {
  padding: 10px 20px 10px 20px;
  background-color: #53585d;
  color: white;
  border: none;
  border-radius: 8px;
  display: flex;
  margin: 1% auto 1% auto;
  width: 30%;
}

form#formCad {
  margin: auto;

}


.button {
  width: 100%;
  max-width: 100%;


}

/* .buttonLogin {
  background-color: #257be5;
  justify-content: space-around;
  width: 150px;
  height: 50px;
  top: 815px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Roboto';
  font-style: normal;
  letter-spacing: 0.1em;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;

} */

/* .buttonSignUp {
  background-color: #9E9E9E;
  justify-content: space-around;
  width: 150px;
  height: 50px;
  top: 815px;
  color: black;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Roboto';
  font-style: normal;
  letter-spacing: 0.1em;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;

} */

.signUp label {
  display: flex;
  align-items: center;
}

.signUp a {
  text-decoration: none;
}

.signUp h1 {
  color: #f5f5f5;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Roboto";
  margin-bottom: 2%;
  margin-top: 5%;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-family: 'Roboto';
  font-style: normal;
}